In [3]:
# Task: Insert "Grapes" between "Banana" and "Cherry".

In [4]:
basket = ["Apple", "Banana", "Cherry", "Mango"]

In [8]:
basket.insert(2 ,"Grapes")

In [9]:
basket

['Apple', 'Banana', 'Grapes', 'Grapes', 'Cherry', 'Mango']

In [11]:
  
 #Task: Change 40 to 45 inside the nested list.

In [12]:
data = [10, 20, [30, 40, 50], 60, 70]

In [13]:
data[2][1] = 45

In [14]:
data

[10, 20, [30, 45, 50], 60, 70]

In [15]:

# Task: Extract [9, 12, 15] and reverse it.

In [16]:
nums = [3, 6, 9, 12, 15, 18, 21]

In [18]:
temp = nums[2:5]

In [19]:
temp.reverse()

In [21]:
temp

[15, 12, 9]

In [22]:

# Task: Remove all occurrences of 5 from numbers.

In [23]:
 numbers = [5, 3, 8, 5, 10, 5, 12, 5]

In [34]:
for items in numbers:
    if items == 5:
        numbers.remove(items)

In [35]:
numbers

[3, 8, 10, 12]

In [36]:
 #Task: Merge list1 and list2, then sort the combined list.

In [40]:
list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]  
list(sorted(list1+list2))

[1, 2, 3, 4, 6, 7, 8, 9]

In [41]:

# Task: Convert colors to a list, change "Green" to "Cyan", and convert it back to a tuple.

In [42]:
colors = ("Red", "Green", "Blue", "Yellow")

In [49]:
temp = list(colors)
temp[1:2]=["cyan"]
colors =tuple(temp)

In [47]:
colors

('Red', 'Green', 'Blue', 'Yellow')

In [50]:

# Task: Find the index of "Charlie".

In [51]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"]

In [57]:
names.index("Charlie")

2

In [58]:

 #Task: Count how many times 4 appears in nums_tuple.

In [59]:
nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)  
temp = list(nums_tuple)
temp.count(4)

4

In [65]:
 
 #Task: Swap the first and last elements.

In [66]:
 values = [10, 20, 30, 40, 50]

In [74]:
temp = values[0]
values[0] = values[-1]
values[-1] = temp
values

[50, 20, 30, 40, 10]

In [75]:

# Task: Generate a list of squares for numbers from 1 to 10.

In [104]:
 values = []
for i in range(10):
    values.append(i**2)
values

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [80]:

# Task: Reverse my_tuple without converting it to a list.

In [92]:
 my_tuple = (1, 2, 3, 4, 5)  
print(my_tuple)

(1, 2, 3, 4, 5)

In [106]:

# Task: Find the maximum and minimum values in data.

In [108]:
 data = [23, 45, 67, 12, 89, 34]  
max("data")
min("data")
data

[23, 45, 67, 12, 89, 34]

In [83]:

# Task: Convert nested_list into a single flat list.

In [84]:
 nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
nested_list[0]+nested_list[1]+nested_list[1]

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [109]:

# Task: Extract every second element from nums.

In [110]:
nums = [10, 20, 30, 40, 50, 60, 70]  
nums[::2]

[10, 30, 50, 70]

In [112]:
 #Task: Find common elements between list_a and list_b.

In [1]:
#Task: Find common elements between list_a and list_b.  
list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]  
common_elements = list(set(list_a) and  set(list_b))
print(common_elements)

[4, 5, 6, 7, 8, 9]

In [116]:
# Defining the list of scores
scores = [78, 55, 92, 30, 88, 62]

# Sorting the list in descending order
sorted_scores = sorted(scores, reverse=True)
print(sorted_scores)

[92, 88, 78, 62, 55, 30]

In [118]:
# Defining the list of numbers
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]

# Removing duplicates while keeping the order
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)

print(unique_numbers)

[1, 2, 3, 4, 5, 6]

In [119]:
# Defining the list of words
words = ["Hello", "World", "Python", "Programming"]

# Inserting "Amazing" at index 2
words.insert(2, "Amazing")

print(words)

['Hello', 'World', 'Amazing', 'Python', 'Programming']

In [120]:
# Defining the list of pairs
pairs = [("a", 1), ("b", 2), ("c", 3)]

# Converting the list of pairs into a dictionary
pairs_dict = dict(pairs)

print(pairs_dict)

{'a': 1, 'b': 2, 'c': 3}