In [1]:
nums = [1, 2, 3, 4, 5]  
#Task: Use a for loop to calculate the sum of all elements in nums.  
total_sum = 0
for num in nums:
    total_sum += num
print(total_sum)

15

In [3]:
count = 5  
#Task: Use a while loop to print numbers from count down to 1. 
while count >= 1:
    print(count)
    count -= 1

5
4
3
2
1

In [7]:
fruits = ["Apple", "Banana", "Cherry", "Mango"]  
#Task: Use a for loop to print each fruit in uppercase.  
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY
MANGO

In [1]:
num= 1  
#Task: Use a while loop to print squares of numbers from 1 to 10.  
while num <= 10:
    print(num ** 2)
    num += 1

1
4
9
16
25
36
49
64
81
100

In [27]:
values = [2, 4, 6, 8, 10]  
#Task: Use a for loop to create a new list containing cubes of valuesfor num in nums:
new = []
for i in values :
    new.append(i**3)
new

[8, 64, 216, 512, 1000]

In [39]:
sentence = "Python is fun"  
#Task: Use a for loop to count how many times 'o' appears in sentence. 
for i in sentence :
    for i = 'o':
     count = 1
print(sentence)

SyntaxError: invalid syntax (949295463.py, line 4)

In [13]:
num = 10  
#Task: Use a while loop to print even numbers from 10 to 2 in reverse order
while num >= 2:
    print(num)
    num -= 2

10
8
6
4
2

In [18]:
matrix = [[1, 2], [3, 4], [5, 6]]  
#Task: Use nested for loops to print all elements in matrix. 
for i in matrix:
    for j in i:
        print(j)

1
2
3
4
5
6

In [19]:
numbers = [3, 9, 12, 18, 21, 25]  
#Task: Use a for loop to print only the numbers divisible by 3. 
for num in numbers:
    if num % 3 == 0:
        print(num)

3
9
12
18
21

####DICITANORIES

In [41]:
s="Missispissp"

In [ ]:
ch = {}