In [1]:
s = "Missispissp"

In [3]:
#1. Count Word Frequency in a Sentence  
#Task: Given a sentence, count the occurrences of each word using a dictionary.  
#Example:  
#sentence = "apple banana apple orange banana apple"  
#Output: {'apple': 3, 'banana': 2, 'orange': 1}

In [8]:
 words = sentence.split()
    
word_count = {}
for word in words:
        if word in word_count:
            word_count[word] += 1
        else:
            word_count[word] = 1
print(word_count)

NameError: name 'sentence' is not defined

In [14]:
#2. Find Unique Elements in Two Lists Using Sets  
#Task: Given two lists, find the elements that are unique to each list using sets.  
#Example:  
#list1 = {1, 2, 3, 4}  
#list2 = {3, 4, 5, 6}  
#Output: Unique in list1: {1, 2}, Unique in list2: {5, 6}

In [47]:
def unfind_unique_elements(list1, list2):

    set1 = set(list1)
    set2 = set(list2)
    unique_in_list1 = set1 - set2  
    unique_in_list2 = set2 - set1  
    return unique_in_list1, unique_in_list2
print(unique_in_list1) 
print(unique_in_list2)

NameError: name 'unique_in_list1' is not defined

In [26]:
#3. Merge Two Dictionaries  
#Task: Merge two dictionaries and sum the values of common keys.  
#Example:  
#
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40}  
#Output: {'a': 10, 'b': 50, 'c': 40}

In [7]:
dict1 = {'a': 10, 'b': 20}  
dict2 = {'b': 30, 'c': 40} 
c_dict = {}
for i in dict1.keys():
    if i in dict2:
        c_dict[i] = dict1[i] + dict2[i]
    else:
        c_dict[i] = dict1[i]
for i in dict2.keys():
    if i not in dict1:
        c_dict[i] = dict2[i]
c_dict

{'a': 10, 'b': 50, 'c': 40}

In [37]:
#4. Find the Intersection of Two Sets  
#Example:  
#set1 = {1, 2, 3, 4}  
#set2 = {3, 4, 5, 6}  
#Output: {3, 4}

In [40]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
def intersection(set1, set2):
    return set1 & set2 
result = intersection(set1, set2)

print(result)

{3, 4}

In [41]:
#6. Remove Duplicates from a List Using Sets  
#Task: Remove duplicates from a list while maintaining order.  
#Example:  
#lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]  
#Output: [1, 2, 3, 4, 5, 6]

In [42]:
def remove_dupl(lst):
    seen = set()
    result = []   
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result
lst = [1, 2, 2, 3, 4, 4, 5, 6, 6, 6]
result = remove_dupl(lst)

print(result)

[1, 2, 3, 4, 5, 6]

In [ ]:
#9. Reverse a Dictionary (Keys Become Values, Values Become Keys)  
#Task: Swap keys and values in a dictionary.  
#Example:  
#original_dict = {'a': 1, 'b': 2, 'c': 3}  
#Output: {1: 'a', 2: 'b', 3: 'c'}

In [43]:
original_dict = {'a': 1, 'b': 2, 'c': 3}
reversed_dict = {value: key for key, value in original_dict.items()}
print(reversed_dict)

{1: 'a', 2: 'b', 3: 'c'}

In [9]:
##8. Find the Union of Multiple Sets  
#Task: Find the union of three sets.  
#Example:  
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
set3 = {5, 6, 7}  
#Output: {1, 2, 3, 4, 5, 6, 7}

In [13]:
union_set = set1.union(set2, set3)

print(union_set)

{1, 2, 3, 4, 5, 6, 7}

In [14]:
#Upgrade the code to display the minimum and maximum of the list

In [16]:
set1 = {1,2,3}
set2 = {2,4,5}
set3 = {7,4,3}
union_set = set1.union(set2, set3)
print("Union :", union_set)


min_value = min(union_set)
max_value = max(union_set)

In [ ]:
#Write a function to return the sum of individual digits 
#Example: sum_individual(123) -> 6

In [21]:
#sum_individual = lambda n: sum(int(digit) for digit in str(n))
#print(sum_individual(123))  

def sum_individual(n):
    return sum(map(int, str(n)))

sum = sum_individual(123)
print(sum)

6

In [16]:
#Create a list of squares of numbers between 1 and 10
#Use map()

In [12]:
def square(x):
    return x ** 2
numbers = range(1, 11)
squares = list(map(square, numbers))
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
#List all three digit numbers between 100 and 1000 whose sum of individual digits 
#equate to 11. Use filter()

In [1]:
def sum_digits(num):
    #return (lambda n: sum(int(digit) for digit in str(n))) == 11
    return sum(map(int,str(num))) == 11
    
numbers = range(100, 1000)
list(filter(sum_digits, numbers))

[119,
 128,
 137,
 146,
 155,
 164,
 173,
 182,
 191,
 209,
 218,
 227,
 236,
 245,
 254,
 263,
 272,
 281,
 290,
 308,
 317,
 326,
 335,
 344,
 353,
 362,
 371,
 380,
 407,
 416,
 425,
 434,
 443,
 452,
 461,
 470,
 506,
 515,
 524,
 533,
 542,
 551,
 560,
 605,
 614,
 623,
 632,
 641,
 650,
 704,
 713,
 722,
 731,
 740,
 803,
 812,
 821,
 830,
 902,
 911,
 920]

In [30]:
 #L = ["red", "green", "blue", "yellow"]
#Sort the list in descending order with respect to the last charecter of the element
#output -> ['yellow', 'green', 'blue', 'red']

In [6]:
L = ["red", "green", "blue", "yellow"]
L.sort(key=lambda e:e[-1], reverse="true")
L

['yellow', 'green', 'blue', 'red']