Problem Statement: 1
--------------------------------------

You are tasked with developing a simple student record management system using SQLite3 in Python. The system should perform the following operations:

Requirements:

Create a SQLite database named school.db with a table students having fields:

    id (INTEGER, Primary Key, Auto-increment)
    name (TEXT)
    age (INTEGER)
    grade (TEXT)

- Insert at least three student records into the table using parameterized queries.
- Fetch and print all student records.
- Update the grade of a specific student based on their name.
- Delete a student record based on the id.
- Display the remaining students and the total number of students.
- Finalize and close the connection

Deliverables:

- Python code with all the required database operations.
- Clear output showing the operations performed.
- Use of best practices: parameterized queries, commit(), and close().

In [27]:
import sqlite3

#creating db
conn = sqlite3.connect('school.db')
cursor = conn.cursor()

# creating students table
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    grade TEXT
)
''')
conn.commit()

In [24]:

# Inserting student records
students = [
    ('Prathiksha', 20, 'A'),
    ('Anvitha', 21, 'B'),
    ('Priyanaka', 22, 'C')
]

cursor.executemany('''
INSERT INTO students (name, age, grade)
VALUES (?, ?, ?)
''', students)
conn.commit()

In [18]:
# Fetch and print student records
cursor.execute('SELECT * FROM students')
print("All Student Records:")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Update the grade
cursor.execute('''
UPDATE students
SET grade = ?
WHERE name = ?
''', ('A', 'Priyanaka'))
conn.commit()

All Student Records:
(7, 'Prathiksha', 20, 'A')
(8, 'Anvitha', 21, 'B')
(9, 'Priyanaka', 22, 'C')

In [28]:

cursor.execute('SELECT * FROM students')
print("\nStudent Records After Grade Update:")
rows = cursor.fetchall()
for row in rows:
    print(row)

# Delete a student record
cursor.execute('''
DELETE FROM students
WHERE id = ?
''', (1,))
conn.commit()

cursor.execute('SELECT * FROM students')
print("\nRemaining Students After Deletion:")
rows = cursor.fetchall()
for row in rows:
    print(row)

# total number of students
cursor.execute('SELECT COUNT(*) FROM students')
total_students = cursor.fetchone()[0]
print(f"\nTotal Number of Students: {total_students}")


conn.close()

Student Records After Grade Update:
(7, 'Prathiksha', 20, 'A')
(8, 'Anvitha', 21, 'B')
(9, 'Priyanaka', 22, 'A')
(10, 'Prathiksha', 20, 'A')
(11, 'Anvitha', 21, 'B')
(12, 'Priyanaka', 22, 'C')

Remaining Students After Deletion:
(7, 'Prathiksha', 20, 'A')
(8, 'Anvitha', 21, 'B')
(9, 'Priyanaka', 22, 'A')
(10, 'Prathiksha', 20, 'A')
(11, 'Anvitha', 21, 'B')
(12, 'Priyanaka', 22, 'C')

Total Number of Students: 6

Create a Student class with the following attributes:

- name (string)
- roll_number (integer)
- marks (dictionary of subject-wise marks, e.g., {"Math": 85, "Science": 90})

Create a list of at least two Student objects with sample data.
Use the pickle module to serialize and save this list into a file named students.pkl.
Write code to load the student data from students.pkl and display each studentâ€™s details.

Challenge: Allow updating a student's marks and re-saving the modified list.

In [56]:
import pickle

class Student:
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks

    def __repr__(self):
        return( f"Student(name='{self.name}', roll_number={self.roll_number}, self.marks={self.marks})")

In [57]:
students = [
    Student("Prathiksha", 1, {"Math": 85, "Science": 90, "English": 88}),
    Student("Anvitha", 2, {"Math": 78, "Science": 82, "English": 91}),
]

In [47]:
with open('students.pkl', 'wb') as f:
    pickle.dump(students, f)

try:
    with open("students.pkl", "rb") as f:
        loaded_sessions = pickle.load(f)
    for session in loaded_sessions:
        print(session)
except Exception as e:
    print(f"Exception {e}")


for session in loaded_sessions:
    print(session)

Student(name='Prathiksha', roll_number=1, self.marks={'Math': 85, 'Science': 90, 'English': 88})
Student(name='Anvitha', roll_number=2, self.marks={'Math': 78, 'Science': 82, 'English': 91})
Student(name='Prathiksha', roll_number=1, self.marks={'Math': 85, 'Science': 90, 'English': 88})
Student(name='Anvitha', roll_number=2, self.marks={'Math': 78, 'Science': 82, 'English': 91})

In [58]:
loaded_sessions[0].marks["Maths"] = 97
loaded_sessions[0].marks["Science"] = 78

In [62]:
for session in loaded_sessions:
    print(session)

Student(name='Prathiksha', roll_number=1, self.marks={'Math': 85, 'Science': 78, 'English': 88, 'maths': 97, 'science': 78, 'Maths': 97})
Student(name='Anvitha', roll_number=2, self.marks={'Math': 78, 'Science': 82, 'English': 91})