In [3]:
#1. Given a list of numbers, create a new list containing the squares of only the even numbers.
#2. Given a list of words, create a dictionary where the keys are words and the values are their lengths.
  # words = ["apple", "banana", "cherry", "date", "elderberry"]
#3. Given a list of tuples with names and ages, create a dictionary of names with ages only if age is greater than 18.
   #[("Alice", 25), ("Bob", 17), ("Charlie", 19), ("David", 16)]
#4. Flatten a 2D list into a 1D list using a list comprehension.
   # matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#5. Given a string, create a dictionary where the keys are characters and values are their frequencies.
    #text = "comprehension"

In [ ]:
#1. Given a list of numbers, create a new list containing the squares of only the even numbers.

In [7]:
[n**2 for n in range(0,30) if n % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784]

In [8]:
 #Given a list of words, create a dictionary where the keys are words and the values are their lengths.
  # words = ["apple", "banana", "cherry", "date", "elderberry"]

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry"]

In [17]:
{s:len(s) for s in words}

{'apple': 5, 'banana': 6, 'cherry': 6, 'date': 4, 'elderberry': 10}

In [18]:
 #Given a list of tuples with names and ages, create a dictionary of names with ages only if age is greater than 18.
   #[("Alice", 25), ("Bob", 17), ("Charlie", 19), ("David", 16)]

In [47]:
d=[("Alice", 25), ("Bob", 17), ("Charlie", 19), ("David", 16)]
{i[0] : i[1] for i in d if i[1] >18}

{'Alice': 25, 'Charlie': 19}

In [36]:
#Given a string, create a dictionary where the keys are characters and values are their frequencies.
    #text = "comprehension"

In [38]:
text = "comprehension"
{s:len(s) for s in text}

{'c': 1,
 'o': 1,
 'm': 1,
 'p': 1,
 'r': 1,
 'e': 1,
 'h': 1,
 'n': 1,
 's': 1,
 'i': 1}

In [40]:
#Come up with an algorithm to flatten a list and implement it in python:
  # Example: [1, 2, 3, [4, 5, [6, 7]], 8]
           # Output: [1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
list1 = [1, 2, 3, [4, 5, [6, 7]], 8] 
m = []
def num (list1):
    for n in list1:
        if type(n) == list:
           num(n)
        else:
            m.append(n)
    return m
    
num(list1)

[1, 2, 3, 4, 5, 6, 7, 8]